<nav class="flex items-center justify-evenly">
    <div class="text-3xl font-bold">Horzone</div>
    <ul class="flex  items-center">
        <li class="m-6 text-base"><a href="/Home">Home</a></li>
        <li class="m-6 text-base"><a href="/Categories">Categories</a></li>
        <li class="m-6 text-base"><a href="/Zones">Zones</a></li>
        <li class="m-6 text-base"><a href="/Contact">Contact</a></li>
        <li class="m-6 text-base"><a href="/About">About</a></li>
    </ul>
    <div class="bg-black text-white pt-3 pb-3 pr-6 pl-6"><a href="/Register">Join US</a></div>
</nav>