<section class="flex max-w-screen-xl px-4 py-8 mx-auto">
  <div>
    <h1 class="hero-title">Discover Your Next Adventure</h1>
    <p class="hero-subtitle">
      Explore the world with our travel guides and tips
    </p>
    <a href="/blog" class="cta-btn">Read Our Latest Posts</a>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 sm:grid-cols-1 gap-2">
    <div class="grid gap-4">
      <div>
        <img
          class="max-h-60- max-w-56 rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="max-h-60- max-w-56 rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="max-h-60- max-w-56 rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
